In [13]:
my_name= "Swapnil"

In [14]:
my_name[-1] #reverse indexing to find last 
#character of a string of unknown length

'l'

In [21]:
"hello"

'hello'

In [22]:
"world"

'world'

In [23]:
'this is also a string'

'this is also a string'

In [24]:
# single quotes and double quotes cannot be mixed

In [25]:
"I'm going on a run" 
#single quote is part of the definition of string

"I'm going on a run"

In [26]:
print("hello")

hello

In [27]:
"hello world one"

'hello world one'

In [1]:
# escape sequence

In [3]:
print('hello \n world') # next line

hello
 world

In [5]:
print('hello \t world')# tab

hello 	 world

In [7]:
len("hello") #length of the string

5

In [8]:
len('I am')

4

# Indexing and slicing

In [15]:
mystring = "Hello World"

In [16]:
mystring

'Hello World'

In [17]:
mystring[0]

'H'

In [18]:
mystring[8]

'r'

In [19]:
mystring[9]

'l'

In [20]:
mystring[-1]

'd'

In [23]:
  mystring="abcdefghijk" # slicing

In [22]:
mystring

'abcdefghijk'

In [25]:
mystring[2:] #grabs from the given index

'cdefghijk'

In [27]:
mystring[:3] #stop index is excluded,
# go upto 3 but not include 3

'abc'

In [28]:
mystring[3:6]

'def'

In [29]:
mystring[1:3]

'bc'

# Step Size

In [31]:
mystring[::]

'abcdefghijk'

In [33]:
mystring[::2]

'acegik'

In [38]:
mystring[2:7:2] #start,stop,stepsize

'ceg'

In [37]:
mystring[::-1] #Trick to reverse a string in a line

'kjihgfedcba'

# String Properties and Methods

# Immutability

In [39]:
name = "Sam"

In [40]:
name[0]="P"

TypeError: 'str' object does not support item assignment

In [41]:
# If we have to reassign S to P,
#we will have to use concatenation

In [42]:
last_letters= name[1:]

In [43]:
last_letters

'am'

In [45]:
"P" + last_letters #CONCATENATION

'Pam'

In [47]:
x = 'Hello World'

In [50]:
x = x + " it is beautiful outside"

In [51]:
x

'Hello Worldit is beautiful outside it is beautiful outside'

In [52]:
letter = 'z'

In [54]:
letter*10 #String multiplication

'zzzzzzzzzz'

In [57]:
"2" + "3" # Problem of flexibility due to dynamic alotment

'23'

In [56]:
2+3

5

In [58]:
x= "Hello World"

In [61]:
x.swapcase() # press tab after dot to show 
# all available functions

'hELLO wORLD'

In [62]:
x.casefold()

'hello world'

In [63]:
x.split()

['Hello', 'World']

In [65]:
x.split("e")  # to split the string and make the list

['H', 'llo World']

# String Interpolation

In [69]:
# .format()

A good way to gormat objects into your strings for print statements is with the string.format() method. The syntax is:

'String here {}then also {}'.format("something1","something2")

In [68]:
print("This is a string {}".format("INSERTED"))

This is a string INSERTED

In [70]:
print("The {} {} {}".format("fox","brown","quick"))

The fox brown quick

In [71]:
print("The {2} {1} {0}".format("fox","brown","quick"))

The quick brown fox

In [72]:
print("The {2} {2} {0}".format("fox","brown","quick"))

The quick quick fox

In [73]:
print("The {0} {0} {0}".format("fox","brown","quick"))

The fox fox fox

In [76]:
print("The {q} {b} {f}".format(f="fox",b="brown",q="quick")) 
#quick reference easy readability

The quick brown fox

# Float Formatting with the .format method

Float formatting follows"{value:width.precision f}"

In [77]:
result = 100/777

In [84]:
result = 104.12345

In [85]:
print("The result was {}".format(result))

The result was 104.12345

In [86]:
print("The result was {r:1.3f}".format(r=result))

The result was 104.123

In [87]:
print("The result was {r:2.3f}".format(r=result))

The result was 104.123

In [88]:
print("The result was {r:20.3f}".format(r=result))

The result was              104.123

# F string- Another method of printing

In [5]:
name = "Jose"

In [6]:
print("Hello his name is {}".format(name))

Hello his name is Jose

In [8]:
print(f"His name is {name}")

His name is Jose

In [9]:
name = "Sam"

In [10]:
age= "3"

In [11]:
print(f'{name} is {age} years old')

Sam is 3 years old